.App-body {
  height: 45%;
}

input[type=text], select {
  width: 100%;
  background-color: #D9D9D9;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type=Login] {
  width: 100%;
  background-color: #D9D9D9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=Login]:hover {
  background-color: #1C2B60;
}

div {
  border-radius: 5px;
  background-color: #4C4949;
  padding: 20px;
}
